[project]
	description = android and linux musings
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/beerwhisperer
[access "refs/for/refs/*"]
	read = group user/beerwhisperer
	push = group user/beerwhisperer
	label-Code-Review = -2..+2 group user/beerwhisperer
	label-Verified = -1..+1 group user/beerwhisperer
	rebase = group user/beerwhisperer
	removeReviewer = group user/beerwhisperer
	submit = group user/beerwhisperer
[access "refs/heads/*"]
	read = group user/beerwhisperer
	create = group user/beerwhisperer
	push = +force group user/beerwhisperer
	pushMerge = group user/beerwhisperer
[access "refs/tags/*"]
	push = +force group user/beerwhisperer
	pushTag = group user/beerwhisperer
	pushSignedTag = group user/beerwhisperer
